<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caiogondim.alfred.chromecontrol</string>
	<key>connections</key>
	<dict>
		<key>475242C6-551C-4BED-933D-3C99B7601687</key>
		<array/>
		<key>6A195013-F1EA-4E33-94A8-24C9D25131EB</key>
		<array/>
		<key>B5BE7ED8-8655-469A-9940-5AFAB14BC85E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A195013-F1EA-4E33-94A8-24C9D25131EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1160023-7311-4ED2-B5F2-39B1A140B9FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>475242C6-551C-4BED-933D-3C99B7601687</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caio Gondim</string>
	<key>description</key>
	<string>Open Chrome windows in the current space</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cw</string>
				<key>subtext</key>
				<string>Open a new Chrome window in the current space</string>
				<key>text</key>
				<string>New Chrome Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F1160023-7311-4ED2-B5F2-39B1A140B9FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cwp</string>
				<key>subtext</key>
				<string>Open a new incognito Chrome window in the current space</string>
				<key>text</key>
				<string>New Incognito Chrome Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5BE7ED8-8655-469A-9940-5AFAB14BC85E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/new-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>475242C6-551C-4BED-933D-3C99B7601687</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/new-incognito-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A195013-F1EA-4E33-94A8-24C9D25131EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type `cw` for a new Chrome window, `cwp` for an incognito one. Both open in the space you are currently in, both are run through Window &gt; Fill, and both work when Chrome is not running.

Both keywords click Chrome's Window menu through System Events, so Alfred needs Accessibility permission.</string>
	<key>uidata</key>
	<dict>
		<key>475242C6-551C-4BED-933D-3C99B7601687</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>6A195013-F1EA-4E33-94A8-24C9D25131EB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B5BE7ED8-8655-469A-9940-5AFAB14BC85E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F1160023-7311-4ED2-B5F2-39B1A140B9FA</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>caiogondim.com</string>
</dict>
</plist>
