<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caiogondim.alfred.findercontrol</string>
	<key>connections</key>
	<dict>
		<key>9CF9D247-702F-4B91-A561-0F84CF525F8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAF11223-17DE-42EE-831A-C694F731CFDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAF11223-17DE-42EE-831A-C694F731CFDD</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Caio Gondim</string>
	<key>description</key>
	<string>Open Finder windows in the current space</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fw</string>
				<key>subtext</key>
				<string>Open a filled Finder window in the current space</string>
				<key>text</key>
				<string>New Finder Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CF9D247-702F-4B91-A561-0F84CF525F8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/new-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BAF11223-17DE-42EE-831A-C694F731CFDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type `fw` for a new Finder window at your home folder. It opens in the space you are currently in, with the sidebar off, and runs Window &gt; Fill so it matches the tiled window margins you have set.

Fill is a menu action with no AppleScript equivalent, so Alfred needs Accessibility permission.</string>
	<key>uidata</key>
	<dict>
		<key>9CF9D247-702F-4B91-A561-0F84CF525F8D</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>BAF11223-17DE-42EE-831A-C694F731CFDD</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>caiogondim.com</string>
</dict>
</plist>
