<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caiogondim.alfred.safaricontrol</string>
	<key>connections</key>
	<dict>
		<key>32A5A460-650D-4101-80EF-AC43B516B2FE</key>
		<array/>
		<key>BFABA667-B348-4B59-B62A-390BF193A1F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32A5A460-650D-4101-80EF-AC43B516B2FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6EEDB8A-6B0A-4E39-85E4-983068999B96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7D63A0D-B4A5-4F93-B2F6-BD8123F55DE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7D63A0D-B4A5-4F93-B2F6-BD8123F55DE1</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Caio Gondim</string>
	<key>description</key>
	<string>Open Safari windows in the current space</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safari Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sw</string>
				<key>subtext</key>
				<string>Open a new Safari window in the current space</string>
				<key>text</key>
				<string>New Safari Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BFABA667-B348-4B59-B62A-390BF193A1F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>swp</string>
				<key>subtext</key>
				<string>Open a new private Safari window in the current space</string>
				<key>text</key>
				<string>New Private Safari Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6EEDB8A-6B0A-4E39-85E4-983068999B96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/new-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32A5A460-650D-4101-80EF-AC43B516B2FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./scripts/new-private-window.applescript</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7D63A0D-B4A5-4F93-B2F6-BD8123F55DE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type `sw` for a new Safari window, `swp` for a new private one. Both open in the space you are currently in, and both work when Safari is not running.

`swp` clicks Safari's File menu through System Events, so Alfred needs Accessibility permission.</string>
	<key>uidata</key>
	<dict>
		<key>32A5A460-650D-4101-80EF-AC43B516B2FE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>BFABA667-B348-4B59-B62A-390BF193A1F6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D6EEDB8A-6B0A-4E39-85E4-983068999B96</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D7D63A0D-B4A5-4F93-B2F6-BD8123F55DE1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>caiogondim.com</string>
</dict>
</plist>
